<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="cabecera">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="mErcado LieBre">
            </div>
            <div class="complemento">
                <form action="/" method="get">
                    <input type="text" placeholder="ingrese su busqueda">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <p>
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </p>
        </div>
        <nav>
            <ul class="nav-bar-primario">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul class="nav-bar-secundario">
                <li>
                    <a href="/registro">Crea tu Cuenta</a>
                    <i class="fa-regular fa-address-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresa</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                    <i class="fa-solid fa-cart-shopping"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section  class="banner">
        <img src="/images/img-home-banner.jpg" alt="">
    </section>
    <main>
        <section>
            <form action="/registro" method="post" class="form-largo">
                <input class="input-abs"type="text" name="nombre" id="nombre" placeholder="nombre y apellido">
                <span class="feedback"></span>
                <br>
                <input class="input-abs" type="text" name="usuario" id="usuario" placeholder="usuario">
                <span class="feedback"></span>
                <br>
                <label class="item-label" for="fecha-nacimiento">fecha de nacimiento</label>
                <br>
                <input type="date" name="fecha-nacimiento" id="fecha-nacimiento">
                <span class="feedback"></span>
                <br>
                <label class="item-label">tipo de usuario</label>
                <input  class="input-radio" type="radio" name="tipo-usuario" id="tipo-usuario" value="compra"><label class="label-check">Compra</label></input>
                <input class="input-radio" type="radio" name="tipo-usuario" id="tipo-usuario" value="venta"><label class="label-check">Venta</label></input>
                <br>
                <label class="item-label">Categorias de Interes</label>
                <br>
                <div class="check">
                <input class="input-radio" type="checkbox" name="categoria" value="electo"><label class="label-check">Electro</label></input>
                </div>
                <div class="check">    
                <input class="input-radio" type="checkbox" name="categoria" value="moda"><label class="label-check">Moda</label></input>
                </div>
                <div class="check">
                <input class="input-radio" type="checkbox" name="categoria" value="hogar"> <label class="label-check">Hogar</label> </input>
                </div>
                <div class="check">
                <input class="input-radio" type="checkbox" name="categoria" value="jugueteria"> <label class="label-check">Jugueteria</label> </input>
                </div >
                <div class="check">
                <input class="input-radio" type="checkbox" name="categoria" value="visaSana"><label class="label-check">Vida Sana</label></input>
                </div> 
                <label class="item-label" for="perfil">seleccionar perfil</label>
                <input type="file" name="avatar" accept=".jpg">
                <span class="feedback"></span>
                <br>
                <label class="item-label" for="password">password</label>
                <input class="input-abs" type="password" name="password" value="">
                <span class="feedback"></span>
                <button class="btn-env" type="submit" value="enviar">Enviar</button>
                <button class="btn-cancel" type="reset" value="reset">Reset</button>
            </form>
        </section>
    </main>
    <footer>
        <ul>
            <li>
                <strong>Paga con tarjeta o en efectivo</strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
            <li>
                <strong>Envío gratis desde $ 2.500</strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
            <li>
                <strong>Seguridad, de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </li>
            <li>
                <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
            </li>
        </ul>
    </footer>
</body>

</html>