/*
amarillo:#EAC926
azul:#03264C
celeste:#1259c3
gris oscuro: #666
gris claro: #ebebeb
verde:#39b54a

tipografia: roboto

cuerpos de texto 12px
titulares 24px
precios 18px
descuentos 16px
descripcion 16px

iconos
font azome

botom amburguesa centrado azul

contenido de todos los articulos centrados 
iconos tamanio de 2em y margen inferior de 10 px
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
li{
    margin: 10px;
}

a{
    text-decoration: none;
    color: black;
}
body{
    font-family: roboto;
    background-color:#EAC926;
}
section{
    background-color: #ebebeb;
    display: block;
    margin: auto;
}

header nav {
    font-size: 12px;
}

h3{
    font-size: 24px;
}
footer{
    background-color: #FFF;
    text-align: center;
}

.cabecera{
    padding: 10px;
}

.cabecera div input{
    width: 80%;
    border-radius: 5px;
    text-align: center;
}

.price{
    font-size: 18px;
    width: 30%;
}
.discount{
    font-size: 16px;
    color:#39b54a;
    width: 70%;
}
.description{
    font-size: 16px;
}

div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
.banner{
    width: 100%;
}
main section article img{
    width: 100%;
}

article div.detalle-producto{
    border-top: 1px solid #ebebeb;
    position: relative;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
main section article{
    background-color: #fff;
    margin: 10px 0px;
    text-align: center;
}

main section article div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    color: #39b54a;
    right: 20px;
    top:-15px;
}
main{
    width: 100%;
    margin: 0 auto;
}

main section article{
    margin: 10px;
    padding: 15px;
}


.form-largo{
    width: 50%;
    border: #696969 solid 1px;
    display: block;
    margin: auto;
    padding: 15px;
} 
.item-label{
    font-weight: bold;
    display: block;
    margin-top: 5px;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px #696969 solid;
}
.input-abs{
    width: 100%;
    text-align: center;
    height: 25px;
}

.label-check{
    width: 25%;
    margin-left: 10px;
}

.input-radio{
    width: 25%;
}
.check{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-env{
    margin-left: 20px;
    margin-top: 10px;
    width: 60px;
    height: 30px;
    background-color: #1259c3;
    border-radius: 5px;
    color: white;
}
.btn-cancel{
    margin-left: 20px;
    margin-top: 10px;
    width: 60px;
    height: 30px;
    background-color: rgb(219, 92, 92);
    border-radius: 5px;
    color: white;
}

@media (max-width: 768px) {
    .description{
        display: none;
    }
    header nav{
        display: none;
    }
    .cabecera{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .logo{
        width: 50%;
    }
    .complemento{
        width: 50%;
        display: flex;
    }
    .cabecera p {
        margin: auto;
    }

}
@media (min-width: 768px) {
    
    div.burger-menu i{
        display: none;
    }

    main section div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    main section div article {
        width: 45%;
    }
    .cabecera{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 5px;
    }
    .logo{
        width: 30%;
    }
    .complemento{
        width: 35%;
        display: flex;
    }
    .cabecera p {
        width: 35%;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .nav-bar-primario{
        align-items: start;
        display: flex;
    }
    .nav-bar-secundario{
        align-items: end;
        display: flex;
    }

}
@media (min-width: 992px) {
    
    div.burger-menu i{
        display: none;
    }
    main section div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    main section div article {
        width: 22%;
    }

    
}